<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Formulario Empleado</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<div th:if="${errorMessage}" style="color: red; margin-bottom: 10px;">
		<p th:text="${errorMessage}"></p>
	</div>
	<div th:if="${errorDni}" style="color: red;">
	    <p th:text="${errorDni}"></p>
	</div>

	<h2 th:text="${empleadoRequestDTO.idPersona == null} ? 'Crear Empleado' : 'Editar Empleado'"></h2>

	<form
		th:action="@{${empleadoRequestDTO.idPersona == null} ? '/empleados/save' : '/empleados/editar/' + ${empleadoRequestDTO.idPersona}}"
		th:object="${empleadoRequestDTO}" method="post">

		<div>
			<label for="email">Email:</label>
			<input type="email" id="email" th:field="*{user.email}" />
			<div th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"></div>
		</div>

		<div>
			<label for="password">Contraseña:</label>
			<input type="password" id="password" th:field="*{user.password}" />
			<div th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"></div>
		</div>

		<div>
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" th:field="*{nombre}" />
			<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
		</div>

		<div>
			<label for="apellido">Apellido:</label>
			<input type="text" id="apellido" th:field="*{apellido}" />
			<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
		</div>

		<div>
			<label for="dni">DNI:</label>
			<input type="number" id="dni" th:field="*{dni}" />
			<div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
		</div>

		<div>
			<label for="legajo">Legajo:</label>
			<input type="text" id="legajo" th:field="*{legajo}" />
			<div th:if="${#fields.hasErrors('legajo')}" th:errors="*{legajo}"></div>
		</div>

		<div>
			<label for="especialidadId">Especialidad:</label>
			<select id="especialidadId" th:field="*{especialidadId}">
				<option value="">-- Seleccione especialidad --</option>
				<option th:each="esp : ${especialidades}" th:value="${esp.idEspecialidad}" th:text="${esp.nombre}">
				</option>
			</select>
			<div th:if="${#fields.hasErrors('especialidadId')}" th:errors="*{especialidadId}"></div>
		</div>

		<button type="submit">Guardar</button>
		<a th:href="@{/empleados/list}">Cancelar</a>
	</form>

</body>

</html>