<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Turno</title>
</head>
<body>

<h1>Generar Nuevo Turno</h1>

<form action="/turnos/guardar" method="post" th:object="${turnoRequest}">

    <label>Cliente:</label>
    <select th:field="*{clienteId}" required>
        <option th:each="cliente : ${clientes}"
                th:value="${cliente.id}"
                th:text="${cliente.nombre}">Cliente</option>
    </select>
    <br/>

    <label>Empleado:</label>
    <select th:field="*{empleadoId}" required>
        <option th:each="empleado : ${empleados}"
                th:value="${empleado.id}"
                th:text="${empleado.nombre}">Empleado</option>
    </select>
    <br/>

    <label>Servicio:</label>
    <select th:field="*{servicioId}" required>
        <option th:each="servicio : ${servicios}"
                th:value="${servicio.id}"
                th:text="${servicio.nombre}">Servicio</option>
    </select>
    <br/>

    <label>Día:</label>
    <select th:field="*{diaId}" id="dia-select" required>
        <option th:each="dia : ${dias}"
                th:value="${dia.id}"
                th:text="${dia.fecha}">Día</option>
    </select>
    <br/>

    <label>Hora:</label>
    <select th:field="*{horaId}" id="hora-select" required>
        <option th:each="hora : ${horas}"
                th:value="${hora.id}"
                th:text="${hora.hora}">Hora</option>
    </select>
    <br/>

    <button type="submit">Guardar Turno</button>
</form>


</body>
</html>
