<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
    <title>Crear Turno</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
	<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>

	
	
</head>
<body>

<h1>Generar Nuevo Turno</h1>

<form th:action="@{/turnos/save}" method="post" th:object="${turnoRequest}">

    <label>Cliente:</label>
    <select th:field="*{idCliente}" required>
        <option th:each="cliente : ${clientes}"
                th:value="${cliente.id}"
                th:text="${cliente.nombre}">Cliente</option>
    </select>
    <br><br>

    <label>Empleado:</label>
    <select th:field="*{idEmpleado}" required>
        <option th:each="empleado : ${empleados}"
                th:value="${empleado.id}"
                th:text="${empleado.nombre}">Empleado</option>
    </select>
    <br><br>

    <label>Servicio:</label>
    <select th:field="*{idServicio}" required>
        <option th:each="servicio : ${servicios}"
                th:value="${servicio.id}"
                th:text="${servicio.nombre}">Servicio</option>
    </select>
    <br><br>

	<input type="text"
	       id="fecha"
	       name="fecha"
	       th:field="*{fecha}"
	       placeholder="YYYY-MM-DD"
	       autocomplete="off"
	       required />

		   <br><br>


		<label>Hora:</label>
		<select th:field="*{hora}" required>
			<option value="" disabled selected>Seleccione una hora</option>
			    <option th:each="i : ${#numbers.sequence(0, 23)}"
			            th:value="${T(java.time.LocalTime).of(i / 2 + 8, (i % 2) * 30)}"
			            th:text="${T(java.time.LocalTime).of(i / 2 + 8, (i % 2) * 30)}">
			    </option>
		</select>

		<br><br>
    <button type="submit">Guardar Turno</button>
</form>
	<br>
<form th:action="@{/index}" method="get">
    <button type="submit">Regresar al inicio</button>
</form>

<!-- Script para los turnos se den solo los fines de semana. -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Pikaday({
            field: document.getElementById('fecha'),
            format: 'YYYY-MM-DD',
            minDate: new Date(),  // No permite fechas anteriores a hoy
            disableWeekends: true // Bloquea sábados y domingos :contentReference[oaicite:1]{index=1}
        });
    });
</script>


</body>
</html>
