<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Ausencia</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<h2 th:text="${#strings.isEmpty(ausencia.idAusenciaEmpleado) ? 'Agregar Ausencia' : 'Editar Ausencia'}"></h2>

<form th:action="@{${ausencia.idAusenciaEmpleado} == null ? '/ausencias/nuevo' : '/ausencias/' + ${ausencia.idAusenciaEmpleado} + '/editar'}" 
      th:object="${ausencia}" method="post">

    <div>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" th:field="*{fecha}" required />
        <div th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>
    </div>

    <div>
        <label for="motivo">Motivo:</label>
        <input type="text" id="motivo" th:field="*{motivo}" placeholder="Motivo de la ausencia" required maxlength="255"/>
        <div th:if="${#fields.hasErrors('motivo')}" th:errors="*{motivo}"></div>
    </div>

    <div>
        <button type="submit" >Guardar</button>
        <a th:href="@{/empleados/{id}(id=${empleadoId})}">Cancelar</a>
    </div>

</form>

</body>
</html>
