<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Bienvenido</h1>

    <form th:action="@{/auth/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

    <a th:href="@{/empleados/list}">Ver empleados</a>
	<a th:href="@{/especialidades/list}">Ver especialidades</a>
	<a th:href="@{/cliente/list}">Ver clientes</a>
	<a th:href="@{/turnos/list}">Ver turnos</a>
	<a th:href="@{/turnos/GenerarTurno}">Generar turnos</a>

</body>
</html>
